/*----Body----*/
body {    
    margin:0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    overflow-x: hidden;
    user-select: none;;
}
body.fade-out {
    opacity: .1;
}
/*affects whole dodcument*/
html {
    scroll-behavior: smooth; /*ensures smooth scrolling*/
}
/*----Headings-----*/
h1 {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 3%;
    color:black;
}

.white-text {
    color:bisque;
}
/*----------Paragraph elements-------*/
p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
}

.center {
    text-align: center;
    color: bisque;
}

q {
    font-style: italic;
    color:bisque;
}
/*--------Image elements--------*/
img {
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    filter:grayscale(5%);
    opacity: .85;
}

/* anchor elements */
a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

/*------Background video---*/
#code {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
    filter:blur(2px);
    filter:brightness(.6);

}

/*------Video text-----*/
.video_text {
    background: (0, 0, 0, .5);
    color: white;
    width: 100%;
    padding: 20px;
    position:relative;
    -webkit-animation: moveVideotext 5.75s;
    animation: moveVideotext 5.75s;
}
@keyframes moveVideotext {
    from{top: -100vw;}
    to{top: 0vw;}
}

/*-------NavBar---------*/
.Navbar {
    overflow: hidden;
    background-color:lightgreen;
    position: relative;
    top: 0;
    width:100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}
/*-----movNav animation for moving bar from left of screen----*/
@keyframes moveNav {
    from{left: -100vw;}
    to{left: 0vw;}
}
/*------Navbar links-----------*/
.Navbar a {
    float: left;
    display: block;
    color:black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavtext 6s;
    animation: moveNavtext 6s;
}
/*--------move Navbar down-------*/
@keyframes moveNavtext {
    from{top: -100vw;}
    to{top: 0vw;}
}
/*----------for screens 576px and smaller---*/
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%;
        font-size: 12px;
    }
}
/*----------Hover effects for Navbar-----*/
.Navbar a:hover {
    background-color:rgb(113, 247, 113);
    color: white;
    font-weight:bold;
}

/*--------------Table styling---------*/

* {
    box-sizing: border-box;
}
.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1%;
    height: 400px;
    background-color:lightgreen;
    opacity: .9;
    display: block;
}

@media screen and (max-width 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1%;
    height: 400px;
    background-color:transparent;
    opacity: .99;
    display: block;
}
Column_tall {
    padding-top: 4%;
    height: 450px;
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}
/*----------Contact Form styling-----------*/

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid bisque;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type=text]:hover {
    box-shadow: 0 0 5px black inset;
}
/*button used to open contact form*/
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}
@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}
@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}
/* styling for contact form*/
.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}
.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}
/*input fields*/
.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

/*styling for all buttons*/
button {
    font-family: 'Trebuchet MS', Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}   

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}
/*submit button*/
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}
/*close button*/
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: grey;
}
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
